fieldset .ui-widget-content {
	display: block;
	margin-bottom: 10px;
}

.form-control-static {
	width: 100%;
}


.vs_currentformat{
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	padding: 8px;
}
span.vs_keyformat {
	font-weight: bold;
	font-size: small;
	font-style: italic;
	margin-right: 2px;
}
span.vs_attrformat {
	font-weight: normal;
	font-size: small;
	font-style: italic;
}

div.mod_pchat_mbuttons {
	display: flex;
}
.btn.mod_pchat_menubutton {
	background-color: DodgerBlue; /* Blue background */
	border: none; /* Remove borders */
	color: white; /* White text */
	padding: 12px 16px; /* Some padding */
	font-size: 16px; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
	margin: 5px;
}
.btn.mod_pchat_menubutton:hover {
	background-color: RoyalBlue;

}
.btn.mod_pchat_audiombutton {
	background-color: Indigo;
}
.btn.mod_pchat_videombutton {
	background-color: DarkCyan;
}

.mod_pchat_targetwordtag {
	border: solid black 1px;
	padding: 3px;
	border-radius: 40%;
}
