<div class='poodllsubtitle_tt subtitleset_block'>
    <div class='numb_song'>{{dataid}}</div>
    <div class='subtitleset_text'>
        <div class='textarea poodllsubtitle_tt_part'>{{part}}</div>
    </div>
    <div class='subtitleset_btns'>
        <div class='subs_btn_block subs_basket'>
            <img src='{{imgpath}}btn_ic_1.svg'/>
        </div>
        <div class='subs_btn_block subs_btn_menu'></div>
        <div class='subs_btn_block'>
            <img src='{{imgpath}}btn_ic_2.svg'/>
        </div>
        <div class='subs_btn_block'>
            <img src='{{imgpath}}btn_ic_3.svg'/>
        </div>
    </div>
</div>