<div id='poodllsubtitle_editor' class="'poodllsubtitle_editor' subtitleset_block subtitleset_block_open" style='display: none;'>
    <div class="numb_song"></div>
    <div class="subtitleset_text">
            <textarea class="textarea" name="poodllsubtitle_edpart" id="poodllsubtitle_edpart" class="poodllsubtitle_edpart"></textarea>
        </div>
    <div class="subtitleset_btns">
            <div class="subs_btn_block subs_basket poodllsubtitle_eddelete" id="poodllsubtitle_eddelete">
                    <img src="{{imgpath}}btn_ic_1.svg">
            </div>
            <div class="subs_btn_block subs_btn_menu poodllsubtitle_edapply" id="poodllsubtitle_edapply"></div>
            <div class="subs_btn_block poodllsubtitle_edmoveup" id="poodllsubtitle_edmoveup">
                    <img src="{{imgpath}}btn_ic_2.svg">
                </div>
            <div class="subs_btn_block poodllsubtitle_edmovedown" id="poodllsubtitle_edmovedown">
                    <img src="{{imgpath}}btn_ic_3.svg">
            </div>
            <button type="button" id="poodllsubtitle_edcancel" class="poodllsubtitle_edcancel">{{#str}}cancel, mod_pchat{{/str}}</button>
    </div>
</div>