
<div class="btn-group btn-group-toggle fonttogglegroup" data-toggle="buttons">
{{#radios}}
<label data-id="{{value}}" data-name="{{name}}" class="btn btn-secondary fonttoggleitem"><input type="radio" name="{{name}}-dummyradio">
    <span>{{topicname}}</span><br/><i class="fa {{fontcode}} fa-2x"></i></label>
{{/radios}}
</div>

        