<div class="card-group">
    {{#studentsToGrade}}
    <div class="card" id="student-data-{{.}}">
        <div class="card-header">
            <div class="input-group mb-3">
                {{selected}}
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">{{# str }} gradesstudent, mod_pchat {{/ str }}</label>
                </div>
                <select class="custom-select" name="gradesUserSelect" id="gradesUserSelect-{{.}}">
                    <option>{{# str }} gradeschoose, mod_pchat {{/ str }}</option>
                    {{#submissionCandidates}}
                        <option value="{{id}}">{{lastname}}, {{firstname}}</option>
                    {{/submissionCandidates}}
                </select>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{# str }} gradestranscript, mod_pchat {{/ str }}</h5>
            <div class="overflow-auto min-vh-400">
                <div class="mod_pchat_grading_passagecont mod_pchat_summarytranscriptplaceholder">
                    <span id="mod_pchat_grading_passageword_1" data-wordnumber="1" class="mod_pchat_grading_passageword chattranscript"></span><span class="mod_pchat_grading_passagespace" data-wordnumber="1" id="mod_pchat_grading_passagespace_1"> </span><span id="mod_pchat_grading_passageword_2" data-wordnumber="2" class="mod_pchat_grading_passageword"></span><span class="mod_pchat_grading_passagespace" data-wordnumber="2" id="mod_pchat_grading_passagespace_2"> </span>
                </div>
            </div>
        </div>
        <div class="alert alert-secondary justify-content-center align-middle" role="alert" style="text-align: center;">
            <div class="mod_pchat_nativeaudioplayer_cont">
                <audio class="chatplayer" controls=""></audio>
            </div>
        </div>
        <table class="table table-striped table-light">
            <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Result</th>
                <th scope="col">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Turns</th>
                <td class="chatturns"></td>
            </tr>
            <tr>
                <th scope="row">Words</th>
                <td class="chatwords"></td>
            </tr>
            <tr>
                <th scope="row">AV Turn</th>
                <td class="chatavturns"></td>
            </tr>
            <tr>
                <th scope="row">Longest Turn</th>
                <td class="chatlongestturns"></td>
            </tr>
            <tr>
                <th scope="row">Target Words</th>
                <td class="chattargetwords"></td>
            </tr>
            <tr>
                <th scope="row">Total target words</th>
                <td class="chattotaltargetwords"></td>
            </tr>
            <tr>
                <th scope="row">Questions</th>
                <td class="chatquestions"></td>
            </tr>
            </tbody>
        </table>
        <div class="alert alert-secondary justify-content-center align-middle" style="text-align: center;" role="alert">
            <input type="button" data-action="creategroupmodal"
                   data-cm-id="{{cmid}}"
                   data-attempt-id="{{attemptid}}"
                   data-student-id="0" class=" justify-content-center align-middle" name="grade" id="create-modal" value="Grade entry">
        </div>
        <div class="card-footer">
            <small class="text-muted">
                Last modified: June 24th, 2020 1:09PM
                Grade:
            </small>
        </div>
    </div>
    {{/studentsToGrade}}
</div>

{{#js}}
    $('[data-action=creategroupmodal]').attr('disabled', 'disabled');

    require(['jquery', 'core/modal_factory', 'core/ajax', 'mod_pchat/newgroup'], function($, ModalFactory, ajax, NewGroup) {
        document.querySelectorAll("div[id^='student-data-']").forEach(
            function(element) {
                let studentId = element.id.match(/\d+/);
                $(element).find('input[type=button]').attr('data-student-id', studentId);


                if (studentId) {
                    $(element).find('input[type=button]').removeAttr("disabled");
                    NewGroup.init($(element).find('input[type=button]'), {{contextid}});
                    studentId = studentId[0];
                    const selectBox = element.querySelector('select[name="gradesUserSelect"]');
                    selectBox.value = studentId;
                    // show loading for others, run ajax to pull data and fill
                    // move js out.
                    var promises = ajax.call([
                    { methodname: 'mod_pchat_get_grade_submission', args: {  cmid: {{cmid}}, moduleid: {{contextid}}, userid: studentId } },
                    ]);

                    promises[0].done(function(response) {
                        if(response && response.response[0]) {
                            $(element).find('.chatplayer').attr('src', response.response[0].filename);
                            $(element).find('.chattranscript').html(response.response[0].transcript);
                            $(element).find('.chatturns').html(response.response[0].turns);
                            $(element).find('.chatwords').html(response.response[0].words);
                            $(element).find('.chatavturns').html(response.response[0].avturns);
                            $(element).find('.chatlongestturns').html(response.response[0].longestturns);
                            $(element).find('.chattargetwords').html(response.response[0].targetwords);
                            $(element).find('.chattotaltargetwords').html(response.response[0].totaltargetwords);
                            $(element).find('.chatquestions').html(response.response[0].questions);
                        }
                    }).fail(function(ex) {
                    // do something with the exception
                    });
                }
            }
        );




    });
{{/js}}