<div class='mod_pchat_transcriptstats'>
    <table class="table">
      <tbody>
      <tr>
          <td>{{#str}}stats_words, mod_pchat{{/str}}</td>
          <td>{{#str}}stats_turns, mod_pchat{{/str}}</td>
          <td>{{#str}}stats_avturn, mod_pchat{{/str}}</td>
          <td>{{#str}}stats_longestturn, mod_pchat{{/str}}</td>
          <td>{{#str}}stats_questions, mod_pchat{{/str}}</td>
          <td>{{#str}}stats_targetwords, mod_pchat{{/str}}</td>
          <td>{{#str}}stats_aiaccuracy, mod_pchat{{/str}}</td>
      </tr>
      <tr>
          <td class="chat_tw">{{words}}</td>
          <td class="chat_tt">{{turns}}</td>
          <td class="chat_atl">{{avturn}}</td>
          <td class="chat_ltl">{{longestturn}}</td>
          <td class="chat_qa">{{questions}}</td>
          <td class="chat_tv">{{targetwords}}/{{totaltargetwords}}</td>
          <td class="chat_aia">{{aiaccuracy}}%</td>
      </tr>
      </tbody>
    </table>
</div>