<div class="mod_pchat_summaryheader">
    <div class="summaryheadertitle">
        <h5>{{username}}</h5>
        {{#str}}summaryuserattemptheadertitle, mod_pchat, {{id}}{{/str}}

   </div>
    <div class="summaryheaderintro">
        {{#str}}summaryuserattemptheaderintro, mod_pchat{{/str}}
    </div>
</div>