
<div class='mod_pchat_centerwidebox'>
    <div class='mod_pchat_sr_title'>{{#str}}teachereval, mod_pchat{{/str}}</div>
    <div class='mod_pchat_ct_body'>
        <div class='mod_pchat_rubric_results'>{{{rubricresults}}}</div>
        <div class='mod_pchat_teachergrade'>{{#str}}grade, mod_pchat{{/str}}: {{displaygrade}}</div>
        <div class='mod_pchat_teacherfeedback'>{{#str}}gradesfeedback, mod_pchat{{/str}} {{feedback}}</div>
    </div>
</div>