
<div class='mod_pchat_sr_left'>
    <div class='mod_pchat_sr_title'>{{#str}}teachereval, mod_pchat{{/str}}</div>
    <div class='mod_pchat_ct_body'>
        <div class='mod_pchat_rubric_results'>{{{rubricresults}}}</div>
        <div class='mod_pchat_teacherfeedback'>{{feedback}}</div>
    </div>
</div>