<div class="mod_pchat_summaryheader">
    <div class="summaryheadertitle">
        {{#str}}summaryheadertitle, mod_pchat{{/str}}
   </div>
    <div class="summaryheaderintro">
        {{#str}}summaryheaderintro, mod_pchat{{/str}}
    </div>
</div>