
<div class='mod_pchat_centerwidebox'>
    <div class='mod_pchat_sr_title'>{{#str}}myreports, mod_pchat{{/str}}</div>
    <div class='mod_pchat_ct_body'>
        <div class='mod_pchat_myreports'>{{{reportbuttons}}}</div>
    </div>
</div>