<div class='mod_pchat_summaryresults'>
    <div class='mod_pchat_sr_left'>
        <div class='mod_pchat_sr_title'>{{#str}}stats, mod_pchat{{/str}}</div>
        <div class='mod_pchat_ct_body'>{{>mod_pchat/summarystats}}</div>
    </div>
    <div class='mod_pchat_sr_right'>
        <div class='mod_pchat_sr_title'>{{#str}}selftranscript, mod_pchat{{/str}}</div>
        <div class='mod_pchat_sr_body'>{{>mod_pchat/summarytranscript}}</div>
    </div>
</div>