<div class="mod_pchat_topicmediacontent">
    <div class="mod_pchat_topicmediacontent_text">{{{itemtext}}}</div>
    {{#itemimage}}<div class="mod_pchat_topicmediacontent_image_cont"><img src="{{{itemimage}}}" class="mod_pchat_topicmediacontent_image"/></div>{{/itemimage}}
    {{#itemaudio}}<div class="mod_pchat_topicmediacontent_audio_cont"><audio controls src="{{{itemaudio}}}" class="mod_pchat_topicmediacontent_audio" playsInline="true"></audio></div>{{/itemaudio}}
    {{#itemvideo}}<div class="mod_pchat_topicmediacontent_video_cont"><video controls src="{{{itemvideo}}}" class="mod_pchat_topicmediacontent_video" playsInline="true"></video></div>{{/itemvideo}}
    {{#itemtts}}<div class="mod_pchat_topicmediacontent_tts_cont"><audio controls src="{{{itemtts}}}" class="mod_pchat_topicmediacontent_audio" crossorigin="anoymous" playsInline="true"></audio></div></div>{{/itemtts}}
    {{#itemiframe}}<div class="mod_pchat_topicmediacontent_iframe_cont"><div class="mod_pchat_topicmediacontent_iframe_responsive">{{{itemiframe}}}</div></div>{{/itemiframe}}
</div>