
<div class="btn-group btn-group-toggle usertogglegroup" data-toggle="buttons">
{{#checks}}
<label data-id="{{value}}" data-name="{{name}}" class="btn btn-secondary usertoggleitem"><input type="checkbox" name="{{name}}-dummycheckbox">
    <span>{{username}}</span><br/><img src="{{userpic}}"></label>
{{/checks}}
</div>
